.lista-maquinas {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.maquina-card-container {
  padding: 1.5rem;
  border-radius: 16px;
  margin-top: 10px;

  /* destaque leve */
  background: rgba(255, 255, 255, 1); /* leve transparência */
  backdrop-filter: blur(6px);          /* blur suave */
  border: 1px solid rgba(211, 210, 210, 0.4); /* borda translúcida */

  /* sombra suave */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.maquina-card-container:hover {
  transform: translateY(-2px); /* leve subida */
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12); /* sombra um pouco mais forte */
}

/* Header do nome da máquina */
.maquina-header {
  width: 100%;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid rgba(226, 232, 240, 0.7);
  margin-bottom: 1.2rem;
}

.titulo-maquina {
  font-size: 1.35rem;
  font-weight: 600;
  color: #000000;
  letter-spacing: 0.3px;
}

.dashboard-kpi-grid-maquinas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 1.2rem;
}
