.sidebar {
  width: 280px;
  height: 100vh;
  background-image: url("../../wallpaper-azul-papel-de-parede-azul-fundo-4.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow-sidebar);
  z-index: 10;
  flex-shrink: 0;
}

.logo {
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  margin-top: auto;
}

.logo img {
  width: 120px;
  height: auto;
}

.menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 25px;
  margin-top: 0.1;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2rem;
  transition: background 0.3s;
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-item.active:hover {
  background-color: rgba(25, 236, 236, 0.4);
}

.icon {
  margin-right: 10px;
  flex-shrink: 0;
}

.menu-item span {
  flex-grow: 1;
}

.menu-item.active {
  background-color: rgba(32, 207, 255, 0.3);
  color: #00ffff;
  font-weight: 700;
  border-left: 4px solid #00ffff;
}

.menu-item:not(:last-child) {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.submenu {
  display: flex;
  flex-direction: column;
  animation: expand 0.3s ease-out;
}

.submenu button {
  background: none;
  border: none;
  color: #fff;
  padding: 10px 0px 10px 20px;
  font-size: 1rem;
  text-align: left;
  cursor: pointer;
  width: 100%;
  display: block;
  transition: color 0.2s;
}

.submenu button:hover {
  color: #00ffff;
}

.submenu button:focus,
.submenu button:active {
  outline: none;
  background-color: rgba(0, 255, 255, 0.1);
  color: #00ffff;
  border-radius: 6px;
}

@keyframes expand {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
