.navbar {
  height: 80px;
  background-image: linear-gradient(
      rgba(83, 82, 82, 0.2),
      rgba(80, 163, 236, 0.804)
    ),
    url("../../wallpaper-azul-papel-de-parede-azul-fundo-4.jpg");
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-bottom: 1px solid #ccc;
  box-shadow: var(--shadow-navbar);
  flex-shrink: 0; /* Garante que a navbar não encolha */
}

.navbar-title {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
}

.navbar-actions-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.profile-wrapper {
  position: relative;
  cursor: pointer;
}

.profile-icon-group {
  display: flex;
  align-items: center;
}

.profile-icon {
  font-size: 38px;
  color: #ffffff;
}

.profile-menu {
  position: absolute;
  top: 35px;
  right: -30px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  min-width: 250px;
  box-shadow: 0 4px 12px rgb(0, 0, 0, 0.1);
  z-index: 100;
}

.profile-menu::before,
.profile-menu::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.profile-menu::before {
  top: -11px;
  right: 10px;
  border-bottom: 11px solid #d4d4d4;
}

.profile-menu::after {
  top: -10px;
  right: 10px;
  border-bottom: 10px solid #fff;
  z-index: 101;
}

.user-info {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #eee;
}

.user-avatar {
  font-size: 36px;
  color: #333;
  margin-right: 10px;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 2px;
}

.user-email {
  font-size: 16px;
  color: #000000;
}

.menu-option {
  display: flex;
  align-items: center;
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  padding: 14px 18px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  transition: background 0.2s;
}

.option-icon {
  font-size: 18px;
  margin-right: 10px;
  color: #555;
}

.menu-option:hover {
  background-color: #89c0f8;
}

/* Estilo do botão Trocar Senha */
.menu-option.trocar-senha {
  background-color: #5590cf !important;
  color: #000000 !important;
  font-size: 18px;
  padding: 12px 18px;
  border-radius: 5px;
  margin: 5px 0;
  font-weight: 500;
  transition: background 0.3s ease, transform 0.2s ease;
}

.menu-option.trocar-senha:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.menu-option.trocar-senha.selected {
  background-color: #004085;
}

.menu-option.trocar-senha:focus {
  outline: 2px solid #004085;
}

/* Estilo do botão Sair */
.menu-option.botao-sair {
  background-color: #f8d7da;
  color: #ca2132;
  font-size: 18px;
  padding: 14px 18px;
  border-radius: 5px;
  margin: 5px 0;
  font-weight: 500;
  transition: background 0.3s ease, transform 0.2s ease;
}

.menu-option.botao-sair:hover {
  background-color: #ff949e;
  transform: scale(1.05);
}

.menu-option.botao-sair.selected {
  background-color: #e02b3a;
}

.menu-option.botao-sair:focus {
  outline: 2px solid #e2a1a6;
}
