/*{/*Para definir os tamanhos}*/
:root {
  --sidebar-width: 290px;
  --navbar-height: 80px;
}

.layout {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* Sidebar fixa à esquerda */
.layout-sidebar {
  width: var(--sidebar-width);
  height: 100vh;
  flex-shrink: 0;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  border-top-right-radius: 20px;
}

/* Área principal */
.layout-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 0;
}

/* Navbar ocupa o topo inteiro da área principal */
.layout-navbar {
  height: var(--navbar-height);
  width: 100%;
  flex-shrink: 0;
}

.layout-content {
  flex: 1;
  padding: 15px;
  overflow-y: auto; /* Manter o scroll vertical */
}
